:root {
  --color-primary: #1A1A1A;
  --color-secondary: #444;
  --color-tertiary: #666;
  --color-quaternary: #888;
  --color-quinary: #aaa;
  --color-senary: #ccc;
  --color-septenary: #eee;
  --color-octonary: #290bd313;
}

html{
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: var(--color-octonary);
    color: var(--color-primary);
    font-family: Arial, sans-serif;
}


.navbar {
    position:fixed;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #011066, #06014d);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    height: 100px;
}

.navbar--hidden {
  transform: translateY(-100%);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.logo img {
    height: 90px;
    border-radius: 50%;
    margin-left: 50px;
    cursor: pointer;
    transition:
    transform 1.5s ease,
    box-shadow 0.3s ease;
}

.logo img:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 68, 0.678);
    transition: transform 0.3s ease;
    will-change:transform;
    transform: scale(1.04);
}

.navbar__links {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 550;
    font-size: 17px;
    color: var(--color-septenary);
    margin-right: 40px;
    border-radius: 5px;
}

.navbar__links a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: var(--color-septenary);
    transition: background-color 0.4s ease, transform 3.0s ease;
    border-radius: 5px;
}

.navbar__links a:hover {
    background-color: var(--color-secondary);
    border-radius: 5px;
}

main {
    padding: 1rem;
}

.hero {
    min-height: 100vh;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, 1fr); /* maxim 2 coloane */
    max-width: 100%;
    gap: 1rem;
}

@media (max-width: 600px) {
  .hero {
    grid-template-columns: 1fr; /* pe mobil/tabletă: 1 coloană */
  }
}

.hero__image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12rem;
    flex: 1;
}

.hero__image img {
    max-width: 750px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow:   
    20px 20px 60px rgba(0,0,0,0.10),
    -20px -20px 60px rgba(0,0,0,0.10);
}

/* Pe tablete și telefoane, imaginea se ajustează automat */
@media (max-width: 1024px) { /* tabletă */
    .hero__image img {
        width: 80%; /* se micșorează pentru a nu depăși containerul */
    }
}

@media (max-width: 600px) { /* telefon */
    .hero__image img {
        width: 100%; /* ocupă tot spațiul disponibil */
    }
}

.hero__content {
    display: flex;
    align-items: center;
    flex-direction: column;   
    margin-top: 80px;
    flex: 1;
}   

.hero__content h1 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-family: 'Montserrat', sans-serif; /* font modern */
    font-weight: 700;
    color: var(--color-primary);
    font-size: 3.076rem;
    max-width: 600px;
    line-height: 1.1;
    letter-spacing: 1px;
}

.hero__content h1 span{
    background: linear-gradient(90deg, #007BFF, #D4AF37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
}

.hero__content p {
    text-align: center;
    max-width: 800px;
    font-family: 'Open Sans', sans-serif; /* font ușor de citit */
    font-size:1.3rem;
    font-weight: 500;
    margin-top: -1rem;;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.3);
}
.hero-features {
    background-color: rgba(0, 123, 255, 0.1);
    border-width: 2px;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    list-style: none;
    padding: 0;
    margin: 1.5rem 0;
    font-size: 1.2rem;
    color: var(--color-tertiary);
}

.hero-features li {
    border-radius: 12px;         /* colțuri rotunjite */
    padding: 0.5rem 1rem;
}

.btn--primary {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-septenary);
    background: linear-gradient(135deg, #007bffea, #D4AF37);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
}

.btn--primary:hover {
    background-color: var(--color-secondary);
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: -1rem;
}
.about__image {
    width: 300px;
    height: auto;
    border-radius: 10px;
}
.about__content {
    max-width: 600px;

}

.about__content h2 {
    font-size: 2rem;
    color: var(--color-primary);
    margin-bottom: 1rem;
}


.about__content p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.projects__title {
    font-size: 2rem;
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.projects__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
}

.project {
    border: 1px solid var(--color-primary);
    border-radius: 10px;
    padding: 1rem;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}
